<div class="portfolio-card card" style="background-color: transparent;">
  <%= link_to (image_tag portfolio_img(portfolio_item.thumb_image,'thumb'), width:"100%"), portfolio_show_path(portfolio_item) %>
  <p class="card-text">
    <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item), style: "font-size:1.5em; color:white; font-weight:bold"  %></span> |
    <%= link_to portfolio_item.subtitle, portfolio_show_path(portfolio_item), style: "font-size:1.5em; color:white; font-weight:bold"  %>
  </p>
</div>
