<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>A collection of <em>thoughts</em>. Thanks for stopping by.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href= "https://www.github.com/bklynbest"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.twitter.com/bklynbest"><%= fa_icon "twitter-square"%></a></li>
      <li><a href="https://www.facebook.com/bklynbest"><%=fa_icon "facebook-square"%></a></li>
    </ol>
  </div>
</div>
