<h1>About Me</h1>
<p>Self taught web developer, Born and raised in New York City.
  I am currently residing on Long Island. I am proficient in HTML/CSS, Javascript
   and Ruby on Rails. My goal is to make a clients dream website come true.
 </p>
<p> I will always make sure to communicate with you, on a regular basis to ensure that
    everything is coming along on schedule. Communication is key between a client and
    a developer to ensure a smooth experience, and a final product everyone is happy about.
</p>
