<h1>Would you like to work together?</h1>
<p><%= number_to_phone "6315077866" %> </p>
<h3>Email</h3>
<p><a href ="mailto:bklynbest718@gmail.com?subject=PortfolioContact""email me">Email me</a> </p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.4099699700955!2d-73.19178118443742!3d40.79698397932267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e83129ddc718cb%3A0x9247180f92fe61c9!2sDovecote+Ln%2C+Central+Islip%2C+NY+11722!5e0!3m2!1sen!2sus!4v1528094551955"
              width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
