<div class= "inner cover" style="margin-top: 8em";>
<div class= "container">
  <div class= "row">
    <% @tweets.each do |tweet| %>
    <div class='col-md-6'>
      <div class="tech-news">
        <div class="card" style="width: 100%;">
          <%= twitter_parser tweet %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
